{% extends 'layout.html' %}

{% block body %}
<h2>About LUCKyHAT</h2>

<p><strong>LUCKyHAT</strong> is a user-friendly, web-based OSINT toolkit designed to simplify and broaden access to
    cybersecurity tools. Traditionally, such tools are confined to Command Line Interfaces (CLI), making them less
    approachable for many users. LUCKyHAT bridges this gap by offering powerful security intelligence capabilities
    through an intuitive web interface, making it easier for a wider audience to engage in cybersecurity practices
    without sacrificing effectiveness or reliability.</p>

<p>The toolkit excels in analyzing web URLs to gather critical intelligence, enabling users to identify vulnerabilities
    in web servers and strengthen their cybersecurity defenses. This makes LUCKyHAT an invaluable resource for both
    individuals and organizations looking to enhance their security posture and mitigate potential threats.</p>

<p>LUCKyHAT was developed at the <a href="https://www.ifsudestemg.edu.br/" style="text-decoration: underline;">Instituto Federal do Sudeste de Minas - Campus Juiz de Fora</a> in Brazil, as part of an
    extension activity aimed at community engagement. The project is rooted in a group study focused on cybersecurity,
    particularly OSINT protocols, reconnaissance, and scanning techniques. This initiative is not only about providing
    tools but also about empowering the community with the knowledge and resources needed to navigate the complexities
    of modern cybersecurity.</p>

<p>In addition to the toolkit, we have created comprehensive educational materials, delivered lectures, and organized
    mini-courses to further support community learning in cybersecurity. Through these efforts, LUCKyHAT aims to foster
    a deeper understanding of cybersecurity and promote proactive engagement in securing digital environments.</p>
{% endblock %}